<div class="inner cover">
  <h1 class="cover-heading">Welcome, <%= current_user.name %></h1>
  <p class="lead">
    If you are still searching for that one person who will change your life, take a look in the mirror. Any work you put in 100% then you will be successfull
  </p>
  <p class="lead">
    <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>




